// Custom styles.

// 修改选中字符的颜色
/* webkit, opera, IE9 */
::selection { 
    background: #00c4b6;
    color: #f7f7f7; 
}
/* firefox */
::-moz-selection { 
    background: #00c4b6;
    color: #f7f7f7;    
}


// 修改网站头部颜色
.headband {
    height: 3px;
    background: #ffffff;
}

.site-meta {
    padding: 20px 0;
    color: #fff;
    background: #E8CCFF;
}
.site-subtitle {
    margin-top: 10px;
    font-size: 13px;
    color: #ffffff;
}



